.wrapperAbout {
  width: 100%;
  height: 46em;
  background-color: none;
  border-radius: 0px;
  background-image: url("https://cdn.hipwallpaper.com/i/44/36/jAcbCT.jpg");
  background-size: 1250px 650px;
}

.wrapperAb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20%;
}

.aboutMe {
  width: 500px;
  height: 340px;
  background-color: #4e8d05;
  border-radius: 80px;
  margin-top: 15px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
}

.backImg {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 100px;
  background-color: #000000;
}
.backImg img {
  margin-top: 40px;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 70px;
}

.backMe {
  margin-top: 60px;
  text-align: center;
}
.backMe p {
  font-size: 15px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.backMe h1 {
  font-size: 34px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}