.headWrap{
    background: rgb(72,89,61);
    background: linear-gradient(0deg, rgba(72,89,61,1) 0%, rgba(198,255,209,1) 37%, rgba(62,78,49,1) 100%);
}
.wrappers {
    margin: 30px 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.total{
    font-weight: 1000;
    padding-bottom: 50px;
}
.wrapperTotal{
    border-radius: 90px;
    height: 120px;
    margin: 0 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapperBasket{
    margin-top: 10px;
    position: absolute;
}
.wrapperBasket button{
    outline: none !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 200px;
    border: white;
    width: 170px;
    height: 70px;
    border-radius: 90px;
}
.wrapperBasket button:hover{
    transform: scale(1.05);
}

