@import './mixin-oneNews.scss';

.newsBlock {
    @include flex;
    @include wi_he(100%,560px);
    background-color: rgb(53, 78, 55);
}
.oneNews {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textNews {
    @include wi_he(500px,300px);
    text-align: center;
    font-size: 27px;
    margin-top: 50px;
    margin-left: 450px;
    position: absolute;
    color: white;
    button {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px;
        border: solid;
        border-color: white;
        background-color: #354e37;
        @include wi_he(190px,60px);
        &:hover {
            background-color: white;
        }
    }
    a {
        color: black;
        text-decoration: none;
    }
}

.imgNews {
    padding-top: 5px;
    margin-left: 1000px;
    img {
        border-radius: 30px;
        height: 510px;
    }
}
