.newsBlockThree {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
}

.blockThree img {
  width: 1908px;
}

.buttonBlockThree {
  margin-right: 900px;
  position: absolute;
}
.buttonBlockThree button {
  outline: none !important;
  border-radius: 10px;
  font-size: 30px;
  border: gold;
  background-color: gold;
  width: 210px;
  height: 70px;
}
.buttonBlockThree button:hover {
  border: solid;
  border-color: #c3ff00;
}