.wrapperAb {
    margin: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    margin-top: 30px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
    width: 700px;
    height: 500px;
    background-color: #eaeaea;
    border-radius: 80px;
}

.backImg {
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 100px;
    background-color: #0e6b46;
}

.backImg img {
    margin-top: 40px;
    border-radius: 70px;
    width: 120px;
    height: 120px;
}

.backMe {
    margin-top: 80px;
    text-align: center;
}

.backMe p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.backMe h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.twoSec {
    opacity: 0;
}

.fiveSec {
    opacity: 0;
}

.wrapperAb:hover .twoSec {
    opacity: 1;
    transition: 3s;
}

.wrapperAb:hover .fiveSec {
    opacity: 1;
    transition: 10s;
}
.wrapperAbout{
    max-width: 100%;
    height: 46em;
    background-color: wheat;
}