.headCont {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapCont {
    margin-top: 10px;
    margin-left: 400px;
}

.mapCont iframe {
    width: 400px;
    height: 250px;
}

.contacts {
    margin-bottom: 50px;
    margin-right: 300px;
    position: absolute;
}

.linkCont {
    padding-left: 50px;
    text-align: center;
}

.linkCont img {
    margin: 0 3px;
    text-align: center;
    width: 30px;
    height: 30px;
}

.contacts h1 {
    text-align: center;
}

.linkCont a {
    text-align: center;
}