.prods {
  perspective: 1000;
}

.prods:hover .wrapProd, .prods.hover .wrapProd {
  transform: rotateY(180deg);
}

.wrapProd {
  border: solid;
  border-color: #b4b4b4;
  background-color: white;
  transition: 0.6s;
  transform-style: preserve-3d;
  width: 240px;
  height: 300px;
  text-align: center;
  margin: 25px 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.front, .but {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  position: absolute;
  z-index: 2;
}

.prods:hover {
  transition: 1s;
  transform: scale(1.2);
}

.front p {
  font-size: 17px;
  margin-top: 0px;
}

.but {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.but button {
  outline: none !important;
  font-size: 30px;
  border-radius: 90px;
  width: 35px;
  height: 35px;
}

.wrapProd h1 {
  padding-top: 10px;
  font-size: 25px;
}

.wrapProd img {
  width: 120px;
  height: 120px;
}

.countProd {
  padding-right: 900px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px;
}

.countProd img {
  padding-right: 60px;
  position: absolute;
  width: 60px;
  height: 60px;
}

.countProd h1 {
  padding-top: 11px;
  font-size: 24px;
  position: absolute;
  padding-left: 140px;
}

.count b {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.back {
  margin-bottom: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.but .twoBut {
  margin-top: 230px;
}

.but .back {
  position: absolute;
}

#one {
  margin-right: 100px;
}

.count {
  margin-top: 150px;
  position: absolute;
}

.backImage {
  position: absolute;
}